
#lista{
  list-style:none;
  padding:0;
}

.parrafos-logos{
  width:100%;
  margin-top:20px;
  margin-bottom:32px; 
}

.elemento{
  max-width:218px;
}

.fotos{
  display:block;
  margin:0 auto;
}

#logo-vanguardia{
  width:177px;
}

#logo-elle{
  width:116.5px;
}

#logo-efe{
  width:87.6px;
}

@media screen and (min-width:768px){

  #lista{
    display:flex;
    flex-direction:row;
  }

  .elemento {
    margin-left:10px;
    margin-right:10px;
  }

  .imagen-wrapper{
    height: 64px;
    display:flex;
    align-items:center;
    justify-content:center;
  }

  #logo-vanguardia,
  #logo-efe,
  #logo-elle{
    height:64px;
  }
}

@media screen and (min-width:920px){

  .elemento {
    width:294px;  
    margin-left:20px;
    margin-right:20px;
  }

  .imagen-wrapper{
    height: 74px;
  }

  #parrafos-logos{
    font-size:18px;
  }

  #logo-vanguardia,
  #logo-efe,
  #logo-elle{
    height:74px;
  }
}