*{
  box-sizing: border-box;
}

#container{
  display:flex;
  flex-direction:column;
  align-items:center;
}

#titulo{
  font-family: 'Rubik', sans-serif;
  width: 177px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  color: #555555;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 32px;
}

#lista{
  list-style:none;
}

.parrafos-logos{
  width: 218px;
  font-size: 16px;
  line-height: 1.5;  
}

.fotos{
display:block;
margin: auto;
align-items: flex-end;
}

#logo-vanguardia{
  width: 177px;
  margin-bottom: 20px;
  margin-left:20px;

}

#parrafo-vanguardia{
  margin-bottom:32px;
}

#logo-elle{
  width: 116.5px;
}

#parrafo-elle{
margin-top: 20.4px;
margin-bottom:32px;
}

#logo-efe{
  width: 87.6px;
  margin-left: 60px;
}

#parrafo-efe{
  margin-top: 20px;
}


@media screen and (min-width: 768px){

#lista{
  display:flex;
  flex-direction: row;
}

.elementos{
  width: 218px;
  margin-left:10px;
  margin-right:10px;
}

}

@media screen and (min-width: 920px){

  .elementos{
    width: 294px;
    margin-left: 20px;
    margin-right: 20px;
  }

  #parrafos-logos{
    font-size:18px;
  }
  h4{
    margin-bottom: 40px;
  }

}