$vertical-margin: 32px;
$width-logos-deskopt:184px;

* {
	box-sizing: border-box;
}

body{
	font-family: 'Rubik', sans-serif;
	color: #555555;
	text-align:center;
}

.container{
	display:flex;
	flex-direction:column;
	align-items:center;
}

.titulo{
	
	font-size: 20px;
	font-weight:bold;
}

.imagenes{
	padding: 0;
	display:flex;
	flex-direction:column;
	align-items:center;
	list-style: none;
}
.elemento{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: $vertical-margin;
}

#logo-sabadell{
	width: 140px;
}

#logo-tomillo{
	width: 174px;
}

#logo-fontvella{
	width: 126px;
}


@media screen and (min-width:768px){
	.imagenes{
		flex-direction:row;
	}

	.elemento{
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: $vertical-margin;
	}

	#logo-fontvella{
		width: 156px;
		
	}

	#logo-tomillo{
		width: 174px;
	}

	#logo-sabadell{
		width: 140px;
	}
}

@media screen and (min-width: 920px){
	.elemento{
		margin-left: 40px;
		margin-right: 40px;
		margin-bottom: $vertical-margin;
	}

	#logo-fontvella{
		width: 184px;
		
	}

	#logo-sabadell{
		width: $width-logos-deskopt;
	}
}
