$vertical-margin: 32px;

* {
	box-sizing: border-box;
}

body{
	font-family: 'Rubik', sans-serif;
	color: #555555;
}

.container{
	display:flex;
	flex-direction:column;
	align-items:center;
}

.titulo{
	text-align:center;
	font-size: 20px;
	font-weight: 700;
}

.imagenes{
	padding: 0;
	display:flex;
	flex-direction:column;
	align-items:center;
	list-style: none;
}

#logo-sabadell{
	width: 140px;
	margin: 0 auto;
}

#logo-tomillo{
	width: 184px;
	margin: $vertical-margin auto 0;
}

#logo-fontvella{
	width: 126px;
	margin: $vertical-margin auto 0;
}


@media screen and (min-width:768px){
	.imagenes{
		display:flex;
		flex-direction:row;
	}

	#logo-fontvella{
		margin-top: 0;
		width: 184px;
	}

	#logo-tomillo{
		margin-top: 0;
		width: 174px;
	}
	#logo-sabadell{
		width: 140px;	
	}
}

@media screen and (min-width: 920px){
	.imagenes{
		display:flex;
		flex-direction:row;
	}
	#logo-fontvella{
		width: 156px;
	}
	#logo-sabadell{
		width: 184px;
	}
}
