* {
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
}

li {list-style: none;}

#container-testimonios {
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
  margin: 36px auto 0;
  max-width: 375px;
}

.foto-testimonio {
  display: block;
  width: 217.2px;
}

.text-testimonio {
  width: 214.6px;
  font-size: 16px;
  line-height: 1.5;
  margin: 23.3px auto 20.8px auto;
  text-align: center;
  color: #555555;
}

.nombre  {
  width: 214.6px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 18.7px;
  color:  #555555;
}

.icono-comillas {
  display: block;
  margin: 0 auto 32.4px;   
}


@media screen and (min-width: 768px) 
{ 
  .foto-testimonio {
    width: 217.2px;
    height: 217.2px;
  }

  #container-testimonios {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    margin: auto;
    max-width: 767px;
  }

  .testimonio {
   margin: 40px 14.9px 23.3px 14.9px;
 }


 .text-testimonio {
  width: 214.6px;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 20.8px;
  color: #555555;
}
}

@media screen and (min-width:1366px)
{

  .foto-testimonio {
    width: 293.6px;
    height: 293.6px;
  }

  #container-testimonios {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    justify-content: center;
    max-width: 1366px;

  }

  .testimonio {
   margin: 62px 20.2px 24.4px 20.2px;
 }

 .text-testimonio {
  width: 290px;
  height: 81px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  color: #555555;
}
}



