#lista {
  list-style: none;
  padding: 0;

  @include breakpoint($tablet) {
    display: flex;
    flex-direction: row;
  }
}

.elemento {
  max-width: 218px;

  @include breakpoint($tablet) {
    margin-left: 10px;
    margin-right: 10px;
  }

  @include breakpoint(920px) {
    width: 294px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
