$medium: $tablet;
$large: $desktop;

$partner-height: 64px;
$partner-margin-bottom: 24px;
$partner-width-tablet: 184px;
$partner-width-desktop: 256px;

$gutter: 24px;

.patrocinador {
	height: $partner-height;
	margin-bottom: $partner-margin-bottom;

	@include breakpoint($medium) {
		width: $partner-width-tablet;
		margin-left: $gutter / 2;
		margin-right: $gutter / 2;
	}

	@include breakpoint($large) {
		width: $partner-width-desktop;
	}
}

#logo-fontvella {
	height: 54px;

	@include breakpoint($large) {
		height: 63px;
	}
}

#logo-tomillo {
	height: 52px;

	@include breakpoint($large) {
		height: 60px;
	}
}

#logo-sabadell {
	height: 48px;

	@include breakpoint($large) {
		height: 55px;
	}
}
