$vertical-margin: 32px;

.elemento {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: $vertical-margin;

	@include breakpoint($tablet) {
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: $vertical-margin;
	}

	@include breakpoint(920px) {
		margin-left: 40px;
		margin-right: 40px;
		margin-bottom: $vertical-margin;
	}
}

@include breakpoint($tablet) {
	.imagenes {
		flex-direction: row;
	}

	#logo-fontvella {
		width: 156px;
	}

	#logo-tomillo {
		width: 174px;
	}

	#logo-sabadell {
		width: 140px;
	}
}
