$max-width-tablet: 712px;
$max-width-desktop: 960px;

$item-width-mobile: 218px;
$item-width-desktop: 294px;

$icon-width-mobile: 36px;
$icon-width-desktop: 48px;

#container-testimonios {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint($tablet) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    max-width: $max-width-tablet;
  }

  @include breakpoint($desktop) {
    max-width: $max-width-desktop;
  }
}

.testimonio {
  width: $item-width-mobile;
  margin-bottom: 32px;

  @include breakpoint($tablet) {
    margin-bottom: 0;
  }

  @include breakpoint($desktop) {
    width: $item-width-desktop;
  }
}

.icono-comillas {
  width: $icon-width-mobile;

  @include breakpoint($desktop) {
    width: $icon-width-desktop;
  }
}
