$section-margin-top-mobile: 40px;
$section-margin-top-desktop: 64px;
$section-margin-bottom-mobile: 56px;
$section-margin-bottom-tablet: 64px;
$section-margin-bottom-desktop: 80px;

.seccion * { box-sizing: border-box; }

.lista-sin-estilo {
  list-style: none;
  padding: 0;
}

.seccion {
  font-family: $font-family;
  color: $font-color;
  text-align: center;
  line-height: $line-heigth;
  font-size: $font-size-mobile;
  font-weight: $normal;
  margin-top: $section-margin-top-mobile;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $section-margin-top-mobile;

  @include breakpoint($tablet) {
    margin-bottom: $section-margin-bottom-tablet;
  }

  @include breakpoint($desktop) {
    font-size: $font-size-desktop;
    margin-top: $section-margin-top-desktop;
    margin-bottom: $section-margin-bottom-desktop;
  }
}

.lista-imagenes {
	display: flex;
  flex-direction: column;
	align-items: center;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint($tablet) {
    flex-direction: row;
		justify-content: center;
  }
}

.lista-imagenes-item {
	display: flex;
  flex-direction: column;
  justify-content: center;
	margin-left: auto;
	margin-right: auto;

	@include breakpoint($tablet) {
    align-items: center;
		margin-bottom: 0;
	}
}
