.text-testimonio {
  width: 214px;
  margin: 24px auto 20px auto;

  @include breakpoint(768px) {
    margin-bottom: 20px;
  }

  @include breakpoint(1366px) {
    width: 290px;
    font-size: 18px;
  }
}

.parrafos-logos {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 32px;
}

.nombre  {
  width: 214px;
  font-size: 16px;
  font-weight: $bold;
  text-align: center;
  margin: 16px auto 20px auto;
}

.titulo {
  font-size: 18px;
  font-weight: $normal;
  margin-bottom: 32px;

  @include breakpoint(920px) {
    margin-bottom: 40px;
  }
}
