.text-testimonio {
  margin-top: 24px;
  margin-left: 0;
  margin-right: 0;
}

.parrafos-logos {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 32px;
}

.nombre  {
  font-weight: $bold;
  margin-top: 20px;
  margin-bottom: 18px;

  @include breakpoint($desktop) {
    margin-bottom: 32px;
  }
}

.titulo {
  font-size: 18px;
  font-weight: $normal;
  margin-bottom: 24px;

  @include breakpoint($desktop) {
    font-size: 24px;
  }
}
